select {
  display: inline-flex;
  flex: 1 1 100%;
  padding: 8px;
  padding-left: 4px;
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #636363;
  text-transform: capitalize;
  outline: 0;
}

select:nth-child(4) {
  margin-bottom: 8px;
}

select:focus {
  border-color: #424242;
}
